<!doctype html>
<html lang="EN">
	<head>
		<meta name="description" content="A menu of beers available on tap at Mark's place">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Mark's Beer</title>
		{{>style}}
	</head>
	<body class="bg-dark">
		<div class="container-fluid">